name: CI

on:
  pull_request:
  push:
    branches: ["main"]

env:
  # Default environment variables for all jobs
  SITE_INPUT_DIR: content
  SITE_OUTPUT_DIR: public
  SITE_STATIC_DIR: static
  SITE_TEMPLATE_DIR: templates
  SITE_NAME: "Santiago Porollan"

jobs:
  test:
    runs-on: ubuntu-latest
    
    # Development environment variables
    env:
      SITE_BASE_URL: http://localhost:8080

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true

      - name: Run tests
        run: go test ./...

  deploy:
    environment: production
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    # Production environment variables
    env:
      SITE_BASE_URL: https://sporollan.com

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true

      - name: Build and run site
        run: |
          go build -o site ./cmd/site
          ./site

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Sync to S3
        run: |
          aws s3 sync public s3://${{ vars.S3_BUCKET }}\
            --delete \
            --exact-timestamps